page-login {
  .toolbar-background-md {
    border-color: black;
    background: #FF7000;
  }
  .toolbar-title-md{
    color: white !important;
  }
  .btn-general{
    color: white;
    background: #FF7000;
  }
  .text-input{
    text-transform: uppercase;
  }

}
