<ion-header>
    <ion-navbar>
      <ion-title>
        Servibucaros
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <form #loginForm="ngForm" (ngSubmit)="verificarPlaca()" autocomplete="off">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item text-center>
                <ion-img width="192" height="182" src="http://servibucaros.com/cpanel/public/images/app/logo.png" cache="true" style="border-radius: 5px;"></ion-img>
            </ion-item>
            <ion-item>
                <ion-icon name="car" item-left style="color: #FF7000"></ion-icon>
                <ion-label stacked>Placa</ion-label>
              <ion-input placeholder="Placa del vehiculo" name="placa" id="placa" type="text" required [(ngModel)]="placa"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button round class="submit-btn btn-general" full type="submit" >Ingresar <!-- [disabled]="!loginForm.form.valid" -->
          </button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
