<ion-header>
  <ion-navbar>
    <ion-title style="font-size: 2rem;">
      Quienes Somos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <p style="font-size: 2.5rem;margin: 0;text-align: justify;font: oblique bold 120% cursive;">
      Somos una empresa familiar que ofrece a la sociedad de Neiva un servicio de calidad basado en la excelencia, el cual consiste en un servicio de limpieza integral de automóviles y motos; y a través de una atención amable, rápida e impecable, obtener la satisfacción total de nuestros clientes.
    </p>
</ion-content>
