<ion-header>
  <ion-navbar>
    <ion-title style="font-size: 2rem;">
      Galeria
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>    
    <ion-slides pager>
        <ion-slide *ngFor="let slide of dataGaleria">
          <!--<ion-toolbar>
            <ion-buttons end>
              <button ion-button color="primary">Siguiente</button>
            </ion-buttons>
          </ion-toolbar>-->
          <img [src]="slide.ruta" class="slide-image"/>
          <h2 class="slide-title" [innerHTML]="slide.title">Fotografia</h2>
          <p [innerHTML]="slide.description">description de fotografia</p>
        </ion-slide>        
      </ion-slides> 
</ion-content>
