page-home {
  .toolbar-background-md {
    border-color: black;
    background: #FF7000;
  }
  .toolbar-title-md{
    color: white !important;
    text-transform: uppercase
  }
  .btn-general{
    color: white;
    background: #FF7000;
  }
}
