<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="width: 40%;margin: 0px;float: left;">Inicio</ion-title>
    <ion-title style="float: left;position: relative;width: 48%;margin: 0px;float: left;text-transform: uppercase">{{ placa }}</ion-title>
    <ion-icon id="salir" name="exit" style="float: left;position: relative;font-size: 2.5em;color:white;" (click)="salir()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
    <ion-card>
      <img src="http://servibucaros.com/cpanel/public/images/app/servicios.png" (click)="listadoOrdenes()"/>
      <ion-row>
        <ion-col>
          <button ion-button icon-right clear medium round (click)="listadoOrdenes()" style="background: #FF7000;color:white;width: 100%;">
              <!--<ng-container *ngFor="let orden of ordenes;let indice = index">
                  <ion-icon name="car"></ion-icon>
              </ng-container>-->
            <div>&nbsp;Tiene {{ cantidad }} servicios</div>
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <img src="http://servibucaros.com/cpanel/public/images/app/promociones.png" (click)="promociones()"/>
    </ion-card>

    <ion-card>
      <img src="http://servibucaros.com/cpanel/public/images/app/galeria.png" (click)="galeria()"/>
    </ion-card>

    <ion-card>
      <img src="http://servibucaros.com/cpanel/public/images/app/quienes.png" (click)="quienes()"/>
    </ion-card>

    <ion-card>
      <img src="http://servibucaros.com/cpanel/public/images/app/contactenos.png" (click)="contactenos()"/>
    </ion-card>

    <ion-fab right top>
        <button ion-fab color="light"><ion-icon name="globe" style="color:#FF7000;font-size: 5rem;"></ion-icon></button>
        <ion-fab-list side="bottom">
          <a href="http://facebook.com/ServiBucaros-1003723559678825" ion-fab><ion-icon name="logo-facebook" style="color:#4267b2"></ion-icon></a>
        </ion-fab-list>
      </ion-fab>

      <ion-fab right bottom (click)="reservas()">
          <button ion-fab color="light"><ion-icon name="alarm" style="color:#FF7000;font-size: 5rem;"></ion-icon></button>
      </ion-fab>
      <!--<button ion-button icon-only round color="light"><ion-icon name="alarm" style="color: #FF7000"></ion-icon></button>-->
</ion-content>
