<ion-header>
  <ion-navbar>
    <ion-title style="font-size: 2rem;">
      Contactenos
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header style="background: #FF7000;color:white">
          Contactos
        </ion-card-header>
        <ion-card-content padding>
          Telefono : 8711319<br>
          Avenida Circunvalar # 8 – 48 <br>
          Barrio Los Martires <br>
          Neiva - Huila
        </ion-card-content>
      </ion-card>
     <a href="https://www.google.com/maps/place/Cra.+1f+%238-2,+Neiva,+Huila/@2.92514,-75.293411,16z/data=!4m5!3m4!1s0x8e3b747d9b969fa3:0xb1d58a1a0fd79ffe!8m2!3d2.9251401!4d-75.2934108?hl=es-ES">
      <ion-img  height="300" src="http://servibucaros.com/cpanel/public/images/app/maps.png" cache="true" style="border-radius: 8px;width: 100%"></ion-img>
      </a>
</ion-content>
