<ion-header>
  <ion-navbar>
    <ion-title style="font-size: 2rem;">
      Reservas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label floating>Fecha y hora </ion-label>
        <ion-input type="datetime-local" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Telefono</ion-label>
          <ion-input type="number" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      <ion-item>
          <textarea rows="4" cols="50"  [(ngModel)]="descripcion" ></textarea>

      </ion-item>
      <ion-row>
          <ion-col>
            <button ion-button round class="submit-btn btn-general" full (click)="realizarReserva()" style="background:#FF7000">Reservar <!-- [disabled]="!loginForm.form.valid" -->
            </button>
          </ion-col>
        </ion-row>
</ion-content>
