page-reservas {
  .toolbar-background-md {
    border-color: black;
    background: #FF7000;
  }
  .toolbar-title-md{
    color: white !important;
    text-transform: uppercase
  }
  .back-button {
    color: white;
  }
}
