<ion-header>
  <ion-navbar>
    <ion-title style="font-size: 2rem;">
      Listado de ordenes
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngFor="let orden of ordenes;let indice = index">
        <ion-list-header style="font-size: 1.7rem;margin-bottom: 0px;font-weight: 500;color: black;">
            <label style="color: #FF7000;font-size: 1.9rem;">{{ (indice+1) }}).</label>&nbsp;
            {{ orden.fecha }} <label style="color: #FF7000;">--</label>
            {{ orden.nombre }}<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label style="color: #FF7000;">$ </label>{{ orden.valor_total }}
        </ion-list-header>
        <ng-container *ngFor="let ordenServicio of orden.ordenServicios">
            <ion-item style="font-size: 1.3rem">
              <label style="color: #FF7000;font-size: 1.5rem;"> *</label>
              {{ ordenServicio.nombre }}.</ion-item>
        </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
