<ion-header>
  <ion-navbar>
    <ion-title style="font-size: 2rem;">
      Promociones
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-slides pager>
        <ion-slide *ngFor="let slide of dataPromociones">
          <!--<ion-toolbar>
            <ion-buttons end>
              <button ion-button color="primary">Siguiente</button>
            </ion-buttons>
          </ion-toolbar>-->
          <img src="http://servibucaros.com/cpanel/public{{slide.ruta }}" class="slide-image"/>
          <!--<h2 class="slide-title" [innerHTML]="slide.title"></h2>
          <p [innerHTML]="slide.description"></p>-->
        </ion-slide>
        <!--<ion-slide>
          <ion-toolbar>
          </ion-toolbar>
          <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
          <h2 class="slide-title">Ready to Play?</h2>
          <button ion-button large clear icon-end color="primary">
            Continue
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>-->
      </ion-slides>
</ion-content>
